#CH341 SPI USB adapter


SUBSYSTEM=="gpio", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5512", KERNEL=="gpiochip*", GROUP="gpio", MODE="0660", SYMLINK="gpio_pinedio"
SUBSYSTEM=="spidev", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5512", KERNEL=="spidev*", GROUP="gpio", MODE="0660", RUN{program}="/bin/sh -c 'echo spidev > /sys/class/spi_master/spi0/spi0.0/driver_override; echo spi0.0 > /sys/bus/spi/drivers/spidev/bind'"
